.comment{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    padding: 0.5rem;
    background-color:#fce7f3 ;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}