.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
.card{
  width: 200px;
  height: auto;
  background-color: #dff1ec;
border-radius: 8px;
padding: 0.5rem;
}
.comment{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}