.newcomment{
    width: auto;
    height: auto;
    border-radius: 8px;
    padding:2rem;
    background-color:#fce7f3 ;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
input ,textarea{
    display: flex;
   border: none;
   border-radius: 6px;
   padding: 5px;
}